.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.nav-image__container {
  display: flex;
  width: 100%;
}

.nav-image {
  width: 100%;
}

.table__title {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.table__container {
  display: flex;
  width: 100%;
  overflow-x: auto;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.15);
  border-radius: .5rem;
  padding: .5rem;
}

.user-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.table__column__header {
  padding: .5rem;
}
.table__column__body {
  -webkit-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.15);
  border-radius: .3rem;
}

.table__column__body input {
  border-radius: .3rem;
  border: none;
  padding: .5rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .nav-container {
    flex-direction: row;
    padding: 1rem;
  }

  .nav-image__container {
    display: flex;
    width: 20%;
  }

  .table__container {
    width: 70%;
    margin: auto;
    padding: 3rem;
  }

  .table__column__body {
    width: 25%;
  }
}
